
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<div class="center col s12 m8 offset-m2 l8 offset-l2">

    <h3>Sweet! You had a short URL</h3>
    <h5><a href="{{ object.get_short_url }}">{{ object.get_short_url }}</a></h5>

    {% if object.clickevent %}
        <h5>Redirect count: {{ object.clickevent.count }}</h5>
    {% endif %}

    <a href="/" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

</div>
