
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<div class="center col s12 m8 offset-m2 l8 offset-l2">
    <h3>The URL has already existed.</h3>

    <p>{{ object.url }}</p>

    <p>{{ object.shortcode }}</p>

    {% if object.clickevent %}
        <p>Count: {{ object.clickevent.count }}</p>
    {% endif %}

    <p><a href="{{ object.get_short_url }}">{{ object.get_short_url }}</a></p>

    <a href="/">+ New</a>
</div>
